*
{
  color: white;
}
.App
{
  height: 100vh;
}

body
{
  background-color: rgb(35, 35, 35);
}
main
{
  display: flex;
  justify-content: center;
  align-items: center;
}
main div
{
  margin: 1em;
}

header h1, footer p
{
  text-align: center;
}